mixin modal()
    #modal-callback(class="modal fade")
        .modal-dialog.modal-sm
            .modal-content
                .modal-body
                    button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                    p.modal__title Оставьте заявку
                    p.modal__title-sub Наши менеджеры свяжутся с вами в ближайшее время
                    br
                    .form-group
                        input.form-control(placeholder="Ваше Ф.И.О")
                    .form-group.form-group_error
                        input.form-control(placeholder="Укажите вашу эл. почту")
                        span.form-group__error
                    br
                    button.btn.btn-blue Отправить заявку

    #modal-callback-yes(class="modal fade")
        .modal-dialog.modal-sm
            .modal-content
                .modal-body
                    button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                    p.modal__title Спасибо,
                        br
                        |Ваша заявка принята
                    p.modal__title-sub Наши менеджеры свяжутся с вами в ближайшее время
                    br
                    button.btn.btn-blue Вернуться на главную

