extends catalog-main

include ../components/item/item

block head
    - var headData = {title: "Кирпич полнотелый"}

block catalog-content
    .item-list
        -for(var i = 0; i<3; i++)
            .item-list__section
                +item(i, 'kirpich')
    br
    h2 Специальное предложение
    .item-list-slider
        -for(var i = 0; i<12; i++)
            .item-list-slider__section
                +item(i)

    br
    br
    p Кирпич - один из самых востребованных материалов, сочетающих в себе прочность, надежность, долговечность, экологичность, звуко- и теплоизоляционные качества. Компания "ДМС Строй" поставляет кирпич от крупных заводов, обладающий качествами продукции передовых европейских производств.
    p Мы готовы осуществить комплексную поставку и разгрузку стройматериалов любого типа на площадку заказчика в черте города и области.
    p Цена на кирпич керамический, помимо прочих факторов, зависит от его пустотности. У нас вы можете купить красный кирпич разных типов - полнотелый, полнотелый с пустотностью 6-12% и пустотелый. Наиболее используемым является полнотелый (рабочий) кирпич. Основное преимущество такого кирпича - прочность, делающая его универсальным и подходящим для возведения внешних и внутренних стен, колонн и иных конструкций. В нашей компании вы можете недорого купить кирпич любого типа.
    hr.hr-catalog-content
    h2 Цена на кирпич в Челябинске
    p Стоимость кирпича указывается в прайсе в разделах по каждому его типу. Обратите внимание на 2 вкладки по каждому прайсу - на одинарный и утолщенный кирпич. Цена на кирпич указана за условные и физические штуки. Помимо цен в таблицах указана дополнительная вспомогательная информация по доставке кирпича.
    a(href='#'): b.color-blue Кирпич керамический рядовой
    hr.hr-catalog-content.hr-catalog-content_min
    .table-block
        table
            thead
                tr
                    th Наименование кирпича
                    th.text-center Цена за шт. руб.
            tbody
                tr
                    td Кирпич полнотелый одинарный М125 Кир.Завод №3
                    td.text-center 6,90
                tr
                    td Кирпич полнотелый одинарный М150 Копейск
                    td.text-center 8,00
                tr
                    td Кирпич полнотелый одинарный ПЕЧНОЙ М200
                    td.text-center 9,00
                tr
                    td Кирпич полнотелый утолщенный М200 Кемма
                    td.text-center 12,00
                tr
                    td Кирпич полнотелый одинарный ЦОКОЛЬНЫЙ (6-12% пустотность)
                    td.text-center 7,50
                tr
                    td Кирпич пустотелый одинарный М150 КЕММА
                    td.text-center 6,00
                tr
                    td Кирпич пустотелый утолщенный М125-150 КЕММА
                    td.text-center 7,90
    br
    a(href='#'): b.color-blue Кирпич керамический рядовой
    hr.hr-catalog-content.hr-catalog-content_min
    .table-block
        table
            thead
                tr
                    th Наименование кирпича
                    th.text-center Цена за шт. руб.
            tbody
                tr
                    td Кирпич полнотелый одинарный М125 Кир.Завод №3
                    td.text-center 6,90
                tr
                    td Кирпич полнотелый одинарный М150 Копейск
                    td.text-center 8,00
                tr
                    td Кирпич полнотелый одинарный ПЕЧНОЙ М200
                    td.text-center 9,00
                tr
                    td Кирпич полнотелый утолщенный М200 Кемма
                    td.text-center 12,00
                tr
                    td Кирпич полнотелый одинарный ЦОКОЛЬНЫЙ (6-12% пустотность)
                    td.text-center 7,50
                tr
                    td Кирпич пустотелый одинарный М150 КЕММА
                    td.text-center 6,00
                tr
                    td Кирпич пустотелый утолщенный М125-150 КЕММА
                    td.text-center 7,90
    br
    hr.hr-catalog-content.hr-catalog-content_min

    h2 Виды и назначения
    .row
        .col-sm-6
            div
                +img('content/Types/1')
            br
            p Преимущества керамического кирпича — универсальная область примернения, долговечность, высокие декоративные свойства
        .col-sm-6
            div
                +img('content/Types/2')
            br
            p Преимущества силикатного кирпича — доступная цена и высокие звукоизоляционные свойства
    br
    .row
        .col-sm-6
            div
                +img('content/Types/3')
            br
            p Целевые отверстия существенно повышают теплоизолирующую способность материала, поэтому из такого кирпича возводят наружные стены
        .col-sm-6
            div
                +img('content/Types/4')
            br
            p Полнотелый кирпич характеризуется значительной прочностью и предназначен для строительства несущих стен и нагруженных конструкций
    br
    hr.hr-catalog-content.hr-catalog-content_min
    h2 Где выгодно купить кирпич в Челябинске?
    p У нас вы можете заказать кирпич строительный по выгодной цене в любом количестве. При заказе до 14.00 поставка товара осуществляется на следующий день.
    b Мы доставляем кирпич силами собственного автопарка:
    ul
        li грузовая Газель
        li манипулятор на 3, 5, 10 тонн
        li бортовой Камаз на 20 тонн
    br

    p Поставка осуществляется по будням с 10.00 до 18.00. Мы поставляем стройматериалы по Челябинску и области: Копейск, Миасс, Еманжелинск,Магнитогорск. Для заказа продукции в нашей компании, звоните по телефону 8 (351) 200 40 18 или закажите обратный звонок на сайте.
    p Расчет нужного количества кирпича можно сделать, воспользовавшись нашим калькулятором. Точный расчет по вашему проекту поможет сделать наш специалист. Воспользуйтесь нашими услугами, чтобы купить кирпич в Челябинске по выгодной цене - быстро, с гарантиями и сертификатами качества и в нужном объеме.
    br
    .video
        .row
            .col-md-8
                .video__big
                    iframe(width="100%" height="100%" src="https://www.youtube.com/embed/3or3L8iDOF4" frameborder="0" allowfullscreen)
                br.hidden-md-up
            .col-md-4
                .video__small
                    iframe(width="100%" height="100%" src="https://www.youtube.com/embed/DiLrB66Vsr4" frameborder="0" allowfullscreen)
                .video__small
                    iframe(width="100%" height="100%" src="https://www.youtube.com/embed/kOWXvxDOxk8" frameborder="0" allowfullscreen)

block script



































