extends catalog-main

include ../components/item/item

block head
    - var headData = {title: "Кирпич полнотелый"}

block catalog-content
    .item-list
        -for(var i = 0; i<3; i++)
            .item-list__section
                +item(i, 'kirpich')
    br
    h2 Специальное предложение
    .item-list-slider
        -for(var i = 0; i<12; i++)
            .item-list-slider__section
                +item(i)

    br
    br
    p Кирпич - один из самых востребованных материалов, сочетающих в себе прочность, надежность, долговечность, экологичность, звуко- и теплоизоляционные качества. Компания "ДМС Строй" поставляет кирпич от крупных заводов, обладающий качествами продукции передовых европейских производств.
    p Мы готовы осуществить комплексную поставку и разгрузку стройматериалов любого типа на площадку заказчика в черте города и области.
    p Цена на кирпич керамический, помимо прочих факторов, зависит от его пустотности. У нас вы можете купить красный кирпич разных типов - полнотелый, полнотелый с пустотностью 6-12% и пустотелый. Наиболее используемым является полнотелый (рабочий) кирпич. Основное преимущество такого кирпича - прочность, делающая его универсальным и подходящим для возведения внешних и внутренних стен, колонн и иных конструкций. В нашей компании вы можете недорого купить кирпич любого типа.
    hr.hr-catalog-content
    h2 Цена на кирпич в Челябинске
    p Стоимость кирпича указывается в прайсе в разделах по каждому его типу. Обратите внимание на 2 вкладки по каждому прайсу - на одинарный и утолщенный кирпич. Цена на кирпич указана за условные и физические штуки. Помимо цен в таблицах указана дополнительная вспомогательная информация по доставке кирпича.
    a(href='#'): b.color-blue Кирпич керамический рядовой
    hr.hr-catalog-content.hr-catalog-content_min

block script



































