extends main

block head
    - var headData = {title: "Контакты"}
//    - var callbackCategory = true
//    - var tabcordion = true
//    - var category = true

block content
    .container
        br
        br
        br
        br



block script
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')




































