// Common styles of the project

html, body {
  height: 100%;
  color: #282528;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.container{

}


.page {
}


.page__wrapper {
  min-height: 100%;
  padding-bottom: 40px;

}
* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    //height: 50px;
}

.copyright{
  display: inline-block;
  font-size: 0;
  color: #282528;
  line-height: 25px;
  text-align: left;
  >*{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    +*{
      padding-left: 30px;
    }
  }
}

.block-blue{
  background-color: $mainColor;
  padding: 75px 0;
}
.block-tabs{
  padding: 75px 0;
}

.category-list{
  display: table;
  width: 100%;
  >*{
    display: table-cell;
    vertical-align: top;
  }
  &__item{
    @include nl;
    margin: -4px -10px;
    line-height: normal;
    font-size: 14px;
    li{
      display: block;
      padding: 6px 0;
      a{
        display: inline-block;
        color: white;
        padding: 4.5px 10px;
        &:hover{
          background-color: #fff;
          color: $mainColor;
        }
      }
    }
  }
}

.callback{
  background-size: cover;
  background-image: url('%=static=%content/callback-bg.jpg');
  background-position: center;
  padding-top: 52px;
  padding-bottom: 55px;
  &__shadow{
    box-shadow: 11px 19.1px 35px rgba(40, 56, 80, 0.12);
  }
  &__title{
    color: #fff;
    fill: #fff;
    margin: 0 -10px;
    margin-bottom: 40px;
    >*{
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px;
    }
    &-big{
      font-size: 35px;
      font-weight: 700;
      line-height: normal;
    }
    &-line{
      margin-bottom: -15px;
    }
    &-small{
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.header-after{
  background-color: #f6f8fa;
  .breadcrumb {
    margin: 0;
    > li {
      > * {
        line-height: 85px;
      }
    }
  }
  &__search{
    position: relative;
    &-input{
      border: 1px solid #818181;
      border-bottom: none;
      border-top: none;
      width: 100%;
      outline: none;
      padding: 0 28px;
      font-size: 18px;
      background-color: transparent;
      @include placeholder(#1a1a1a);
      height: 85px;
      padding-right: 60px;
    }
    &-btn{
      @include btn-clear;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding: 0;
      padding-right: 31px;
      fill: #1a1a1a;
      svg{
        display: inline-block;
        margin-bottom: -4px;
      }
      &:hover{
        fill: $mainColor;
      }
    }
  }
}

.pageTitle{
  border-bottom: 1px solid #cacaca;
  padding: 33px 0;
  &__title{
    color: #4d5162;
    font-size: 35px;
    line-height: 55px;
    font-weight: 700;
    margin: 0;
  }
}

#yamap{
  width: 100%;
  height: 710px;
}

.contacts-list{
  font-size: 0;
  margin: -15px;
  &__section{
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 15px;
  }
  &__title{
    color: #e65711;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    margin-bottom: 10px;
  }
  &__text{
    color: #6a6a6a;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
  }
}

.callbackTwo{
  background-size: cover;
  background-position: center;
  background-image: url('%=static=%content/callbackTwo-bg.jpg');
  color: white;
  padding-bottom: 50px;
  padding-top: 55px;
  &__title{
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    &-sub{
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      padding-top: 17px;
    }
  }
}

.catalog{
  &-content{
    font-size: 0;
    white-space: nowrap;
    margin-bottom: -40px;
    >*{
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      white-space: normal;
    }
    &__left{
      width: 23%;
      border-right: 1px solid #cacaca;
      margin-right: -1px;
      padding-right: 30px;
    }
    &__right{
      width: 77%;
      border-left: 1px solid #cacaca;
      //margin-left: -1px;
      padding: 20px 29px;
    }
  }
}









