// Common styles of the project

html, body {
  height: 100%;
  color: #282528;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.container{

}


.page {
}


.page__wrapper {
  min-height: 100%;
  padding-bottom: 40px;

}
* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    //height: 50px;
}

.copyright{
  display: inline-block;
  font-size: 0;
  color: #282528;
  line-height: 25px;
  text-align: left;
  >*{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    +*{
      padding-left: 30px;
    }
  }
}

.block-blue{
  background-color: $mainColor;
  padding: 75px 0;
}
.block-tabs{
  padding: 75px 0;
}

.category-list{
  display: table;
  width: 100%;
  >*{
    display: table-cell;
    vertical-align: top;
  }
  &__item{
    @include nl;
    margin: -4px -10px;
    line-height: normal;
    font-size: 14px;
    li{
      display: block;
      padding: 6px 0;
      a{
        display: inline-block;
        color: white;
        padding: 4.5px 10px;
        &:hover{
          background-color: #fff;
          color: $mainColor;
        }
      }
    }
  }
}

.callback{
  background-size: cover;
  background-image: url('%=static=%content/callback-bg.jpg');
  background-position: center;
  padding-top: 52px;
  padding-bottom: 55px;
  color: #fff;
  &__shadow{
    box-shadow: 11px 19.1px 35px rgba(40, 56, 80, 0.12);
  }
  &__title{
    color: #fff;
    fill: #fff;
    margin: 0 -10px;
    margin-bottom: 40px;
    >*{
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px;
    }
    &-big{
      font-size: 35px;
      font-weight: 700;
      line-height: normal;
    }
    &-line{
      margin-bottom: -15px;
    }
    &-small{
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.header-after{
  background-color: #f6f8fa;
  .breadcrumb {
    margin: 0;
    > li {
      > * {
        line-height: 85px;
      }
    }
  }
  &__search{
    position: relative;
    &-input{
      border: 1px solid #818181;
      border-bottom: none;
      border-top: none;
      width: 100%;
      outline: none;
      padding: 0 28px;
      font-size: 18px;
      background-color: transparent;
      @include placeholder(#1a1a1a);
      height: 85px;
      padding-right: 60px;
    }
    &-btn{
      @include btn-clear;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding: 0;
      padding-right: 31px;
      fill: #1a1a1a;
      svg{
        display: inline-block;
        margin-bottom: -4px;
      }
      &:hover{
        fill: $mainColor;
      }
    }
  }
}

.pageTitle{
  border-bottom: 1px solid #cacaca;
  padding: 33px 0;
  &__title{
    color: #4d5162;
    font-size: 35px;
    line-height: 55px;
    font-weight: 700;
    margin: 0;
  }
}

#yamap{
  width: 100%;
  height: 710px;
}

.contacts-list{
  font-size: 0;
  margin: -15px;
  &__section{
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 15px;
  }
  &__title{
    color: #e65711;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    margin-bottom: 10px;
  }
  &__text{
    color: #6a6a6a;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
  }
}

.callbackTwo{
  background-size: cover;
  background-position: center;
  background-image: url('%=static=%content/callbackTwo-bg.jpg');
  color: white;
  padding-bottom: 50px;
  padding-top: 55px;
  &__title{
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    &-sub{
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      padding-top: 17px;
    }
  }
}

.catalog{
  &-content{
    font-size: 0;
    white-space: nowrap;
    margin-bottom: -40px;
    >*{
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      white-space: normal;
    }
    &__left{
      width: 23%;
      border-right: 1px solid #cacaca;
      margin-right: -1px;
      padding-right: 30px;
    }
    &__right{
      width: 77%;
      border-left: 1px solid #cacaca;
      //margin-left: -1px;
      padding: 25px 29px;
      .table-block{
        margin-left: -29px;
        table{
          >tbody, >thead{
            >tr{
              >td, >th{
                &:nth-of-type(1){
                  padding-left: 29px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.video{
  &__big{
    height: 330px;
    background-color: #e6e6e6;
  }
  &__small{
    height: 150px;
    background-color: #e6e6e6;
    +.video__small{
      margin-top: 30px;
    }
  }
}

.detail{
  &__img{
    height: 250px;
    line-height: 250px;
    background-color: white;
    text-align: center;
    border: 1px solid #cacaca;
    padding: 0 15px;
    img{
      display: inline-block;
      max-height: 100%;
    }
  }
  &__text{
    color: #4d5162;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    b{
      color: #f16823;
      font-size: 22px;
      font-weight: 700;
    }
  }
  &__title{
    color: #4d5162;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-bottom: 20px;
  }
  &__table{
    display: table;
    width: 100%;
    &-cell{
      display: table-cell;
      vertical-align: top;
      &:not(:last-child){
        padding-right: 15px;
      }
      +*{
        border-left: 1px solid #f0f0f0;
        padding-left: 55px;
      }
    }
  }
}
.detail-content{
  display: table;
  &__cell{
    display: table-cell;
    vertical-align: bottom;
    +*{
      padding-left: 30px;
    }
    &_img{
      width: 360px;
    }
  }
}

.index-categoryList{
  font-size: 0;
  margin: -15px;
  &__section{
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    width: 33.33%;
    padding: 15px;
  }
  &__item{
    &-img{
      margin-bottom: 15px;
      position: relative;
      img{
        width: 100%;
        outline: none;
      }
      .slick-dots {
        @include nl;
        position: absolute;
        bottom: 0;
        font-size: 0;
        line-height: 0;
        text-align: center;
        padding: 15px 14px;
        pointer-events: none;
        li {
          display: inline-block;
          padding: 5px;
          &.slick-active {
            button {
              &:after{
                background-color: #e65711;
              }
            }
          }
          button {
            pointer-events: all;
            @include btn-clear;
            &:after{
              content: '';
              display: block;
              width: 10px;
              height: 10px;
              background-color: #fdfeff;
            }
          }
        }
      }
    }
    &-title{
      color: #4d5162;
      font-size: 25px;
      font-weight: 700;
      line-height: 35px;
      display: block;
      margin: 10px 0;
    }
    &-list{
      @include nl;
      li{
        display: block;
        svg{
          fill: currentColor;
        }
      }
    }
    &-listSections{
      margin: 0 -30px;
      font-size: 0;
      &-section{
        font-size: 14px;
        padding: 0 30px;
        display: inline-block;
      }
    }
  }
}

.partners-list{
  margin: -15px;
  &__section{
    padding: 15px;
    outline: none;
  }
}

.index-slider{
  background-color: #839dbc;
  background-image: url('%=static=%content/bg-index-slider.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 125px;
  position: relative;
  &__category{
    background-color: rgba(62, 62, 62, 0.64);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 255px;
    padding-top: 100px;
    &-list{
      overflow: hidden;
      ul{
        @include nl;
        li{
          a{
            color: #fff;
          }
        }
      }
      >ul{
        >li{
          >a{
            color: white;
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
            padding: 14px 0;
            display: block;
            >span{
              line-height: 15px;
              display: block;
              padding-left: 40px;
              border-left: 4px solid transparent;
            }
          }
          &.open{
            >ul{
              display: block;
            }
          }
          &.active{
            >a{
              >span{
                border-left-color: #fff;
              }
            }
          }
          >ul{
            display: none;
            padding-left: 55px;
            position: relative;
            padding-bottom: 12px;
            margin-bottom: 11px;
            &:after{
              content: '';
              position: absolute;
              bottom: 0;
              left: 55px;
              width: 100%;
              height: 1px;
              background-color: #fff;
            }
            >li{
              >a{
                color: white;
                font-weight: 400;
                display: block;
                padding: 6px 0;
              }
            }
          }
        }
      }
    }
  }
  &__slider{
    &-content{
      position: relative;
      .row{
        position: static;
        >*{
          position: static;
        }
      }
    }
    &-btn{
      font-size: 0;
      margin: -3px;
      .slick-arrow{
        @include btn-clear;
        z-index: 2;
        width: 35px;
        height: 35px;
        border: 1px solid #fff;
        margin: 3px;
        //margin-top: -17.5px;
        &:after{
          content: '';
          display: block;
          margin-top: -2px;
        }
        &:hover{
          background-color: #fff;
        }
        &.slick-prev{
          left: 0;
          &:after{
            @include bg($index-slider-arrow-prev);
          }
          &:hover{
            &:after{
              @include bg($index-slider-arrow-prev-hover);
            }
          }
        }
        &.slick-next{
          right: 0;
          &:after{
            @include bg($index-slider-arrow-next);
          }
          &:hover{
            &:after{
              @include bg($index-slider-arrow-next-hover);
            }
          }
        }
      }
    }
    &-section{
      outline: none;
    }
    &-title{
      text-shadow: 0 4px 10px rgba(47, 47, 47, 0.1);
      color: white;
      //font-family: Geometria;
      font-size: 60px;
      font-weight: 800;
      line-height: 70px;
    }
    &-desc{
      color: white;
      font-size: 18px;
      font-weight: 400;
      line-height: 35px;
      width: 690px;
      max-width: 100%;
      margin: 0;
    }
  }
  &__form{
    position: relative;
    &-title{
      color: #1a1a1a;
      font-size: 18px;
      font-weight: 400;
      line-height: 73px;
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      padding-left: 31px;
    }
    &-input{
      outline: none;
      border: none;
      width: 100%;
      background-color: white;
      box-shadow: 11px 19.1px 35px rgba(40, 56, 80, 0.12);
      height: 73px;
      padding-left: 220px;
      padding-right: 76px;
    }
    &-btn{
      @include btn-clear;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding: 0 28px;
      //background-color: #eee;
      svg{
        display: inline-block;
        margin-bottom: -4px;
      }
      &:hover{
        fill: $orange;
      }
    }
  }
}

.object{
  &-item{
    height: 225px;
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
    transition: .2s;
    margin-bottom: 2%;
  }
  .gutter-sizer{
    width: 2%;
  }
  .col-1,
  .grid-sizer{
    width: 23.5%;
  }
  .col-2{
    width: 48.97%;
  }
  .col-3{
    width: 74.5%;
  }
  .col-4{
    width: 100%;
  }
  .row-2{
    height: 472px;
  }
}


