/* Your custom fonts here */
@import "libraries/bourbon/bourbon";

// Example
//https://edgewebfonts.adobe.com/help#using-fonts-in-css
// 100 -> Thin, Hairline
// 200 -> Extra Light
// 300 -> Light
// 400 -> Normal, Book
// 500 -> Medium
// 600 -> Semibold, Demibold
// 700 -> Bold
// 800 -> Heavy, Extra Bold
// 900 -> Black

@include font-face("Open Sans", "../fonts/OpenSans/opensans", $file-formats: woff woff2 ttf){
  font-style: normal;
  font-weight: 400;
};
@include font-face("Open Sans", "../fonts/OpenSans/opensansbold", $file-formats: woff woff2 ttf){
  font-style: normal;
  font-weight: 700;
};
@include font-face("Open Sans", "../fonts/OpenSans/opensansitalic", $file-formats: woff woff2 ttf){
  font-style: italic;
  font-weight: 400;
};

