// GUI stylies of the project
// For example, styles of the links, buttons and so on.

@import "libraries/bootstrap/scaffolding";
@import "libraries/bootstrap/buttons";
@import "libraries/bootstrap/type";
@import "libraries/bootstrap/breadcrumbs";
@import "libraries/bootstrap/tables";
@import "libraries/bootstrap/forms";
@import "libraries/bootstrap/navs";
@import "libraries/bootstrap/dropdowns";
@import "libraries/bootstrap/component-animations";
@import "libraries/bootstrap/panels";

a{
  //color: #e74700;
  //text-decoration: underline;
  color: $mainColor;
  cursor: pointer;
  text-decoration: none;
  &:focus {
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
  }
  &:not(.not-styleLink){
    @include link-border-color($mainColor);
  }
  .not-styleLink{
    text-decoration: underline;
  }
}

.not-styleLink{
  a{
    border-bottom: none;
  }
}

.rub{
  letter-spacing: -12px;
  display: inline-block;
  //vertical-align: middle;
  margin-right: 12px;
  &:after{
    content: '–';
    display: inline-block;
    position: relative;
    bottom: -2px;
  }
}

h1, .h1{
  margin-bottom: 30px;
  font-size: 50px;
  line-height: normal;
  color: #4f4f4f;
  font-family: GothamPro, sans-serif;
  font-weight: 700;
  &:first-child{
    margin-top: 0;
  }
}
h2, .h2{
  line-height: normal;
  margin-bottom: 25px;
  margin-top: 25px;
  color: #4d5162;
  font-size: 22px;
  font-weight: 700;
  &:first-child{
    margin-top: 0;
  }
}
h3, .h3{
  color: #70747b;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 25px;
  margin-top: 25px;
  &:first-child{
    margin-top: 0;
  }
}

p {
  margin-bottom: 20px;
}

hr{
  border-color: currentColor;
  margin: 55px 0;
  &.two{
    margin: 25px 0;
  }
}
.hr-catalog-content{
  margin-left: -29px;
  border-color: #cacaca;
  &_min{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


ul{
  //@include nl;
  list-style-image: url("%=static=%general/list-style-image.png");
  padding: 0;
  list-style-position: outside;
  padding-left: 27px;
  //margin: 15px 0;
  li{
    padding: 1px 0;
  }
}

b{
  font-weight: 700;
  color: #282528;
}

.tableWrap{
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;
  table{
    margin-bottom: 0;
  }
}


table{
  font-size: 14px;
  line-height: normal;
  width: 100%;
  thead{
    color: #f16823;
    >tr{
      >th{
        padding-top: 5px;
        padding-bottom: 18px;
      }
    }
  }

  tbody{
    color: #6a6a6a;
    >tr{
      &:nth-of-type(2n-1){
        >td{
          background-color: #f4f4f4;
        }
      }
      >td{
        padding-top: 11px;
        padding-bottom: 11px;
      }
    }
  }

  tr{
    td, th{
      padding: 0 10px;
    }
  }

}

.db{
  display: block;
}


.table-link-title{
  margin-bottom: 10px;
}
.dropdown-menu{
  li{
    padding: 0;
  }
}

.pagination{
  @include nl;
  font-size: 0;
  margin: 20px -5px;
  margin-bottom: -5px;

  li{
    display: inline-block;
    font-weight: 400;
    padding: 5px;
    &:not(.active){
      >*{
        &:hover{
          //outline: 2px solid #fd6910;
          //outline-offset: -2px;
          //color: #fd6910;
          border-color: #0b6ab3;
        }
      }
    }
    &.active{
      >*{
        background-color: #fc0;
        color: black;
        span{
          border-bottom-color: transparent;
        }
      }
    }
    &.next{
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
      >*{
        //border: 1px solid #bebebe;
        padding: 0 15px;
      }
      i{
        margin-left: 40px;
        margin-top: -2px;
      }
    }
    >*{
      width: 35px;
      height: 35px;
      display: block;
      text-align: center;
      line-height: 38px;
      font-weight: 400;
      text-decoration: none;
      color: #575757;
      border: none;
      font-size: 18px;
      span{
        @include link-border-color(#575757);
      }
      small{
        font-size: 12px;
      }
    }
  }
}

.bootstrap-select.btn-group{
  position: relative;
  .dropdown-toggle{
    background-color: white;
    border: 1px solid #d3d7da;
    border-radius: 4px;
    padding: 0 19px;
    line-height: 47px;
    height: 43px;
    padding-right: 35px;
    .filter-option{
      color: #5e5c67;
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 14px;
      font-style: normal;
    }
  }
  .bs-caret{
    background-color: #fff;
    line-height: 21px;
    right: 11px;
    .caret{
      border-top-color: #ef9c00;
      border-top-width: 5px;
      border-left-width: 5px;
      border-right-width: 5px;
      margin-left: -1px;
    }
  }
  &.min{
    .dropdown-toggle{
      line-height: 43px;
      height: 38px;
      padding: 0 15px;
      .filter-option{
        font-size: 12px;
      }
    }
    .bs-caret{
      right: 4px;
      .caret{
        border-top-width: 4px;
        border-left-width: 4px;
        border-right-width: 4px;
      }
    }
  }
  &.gradient{
    .dropdown-toggle{
      background-image: linear-gradient(to top, rgba(215, 215, 215, 0.25) 0%, rgba(255, 255, 255, 0.25) 67%, rgba(255, 255, 255, 0.25) 100%);
      border-color: rgba(183, 183, 183, 0.7);
    }
    .bs-caret {
      .caret {
        border-top-color: #0b6ab3;
      }
    }
  }
}

.slick-dots{
  @include nl;
  font-size: 0;
  line-height: 0;
  text-align: center;
  //margin: 10px 0;
  li{
    display: inline-block;
    padding: 2px;
    &.slick-active{
      button{
        &:after{
          //background-color: #ffcb08;
          border-color: #fff;
        }
        &:before{
          opacity: 1;
        }
      }
    }
    button{
      @include btn-clear;
      position: relative;
      &:hover{
        &:after{
          //background-color: rgb(202, 202, 202);
        }
      }
      &:after{
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 50%;
      }
      &:before{
        content: '';
        width: 8px;
        height: 8px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-top: -4px;
        margin-left: -4px;
        opacity: .7;
      }
    }
  }
}

.mobile-list-anim{
  display: inline-block;
  //float: left;
  width: 100%;
  position: relative;
  background-color: #e65711;
  color: #fff;
  .menuTopMobel{
    color: currentColor;
    display: block;
    border-bottom: none;
    border-top: none;
    outline: none;
    margin-bottom: 0;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    line-height: 55px;
    //font-size: 0;
    text-align: center;
    vertical-align: top;
    height: 55px;
    padding: 0;
    .menu-icon{
      fill: currentColor;
      display: inline-block;
      pointer-events: none;
      svg{
        display: block;
      }
    }
    .menu-mobile{
      pointer-events: none;
      background: transparent;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 12px;
      color: currentColor;
      text-align: center;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      transition: transform ease-out 200ms;
      &-hamburger{
        width: 16px;
        height: 2px;
        background: currentColor;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -1px;
        transition: transform 200ms;
        &.one{
          -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
        }
        &.two{
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
        &.three{
          -webkit-transform: translate3d(0, 5px, 0);
          transform: translate3d(0, 5px, 0);
        }
      }
    }
  }
  input[type="checkbox"]{
    display: none;
    &:checked {
      & ~ .menuTopMobel {
        .menu-mobile {
          &-hamburger {
            &.one {
              -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
              transform: translate3d(0, 0, 0) rotate(45deg);
            }
            &.two {
              -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
              transform: translate3d(0, 0, 0) scale(0.1, 1);
            }
            &.three {
              -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
              transform: translate3d(0, 0, 0) rotate(-45deg);
            }
          }
        }
      }
    }
  }
}

.calculator-btn{
  color: $orange;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 55px;
  display: block;
  text-align: right;
  >span{
    display: inline-block;
    border: 3px solid $orange;
    position: relative;
    padding-left: 59px;
    padding-right: 35px;
    &:before{
      content: '';
      display: block;
      @include bg($calculator);
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -15.5px;
      margin-left: 14px;
    }
  }
  &:hover{
    >span{
      background-color: $orange;
      color: #fff;
      &:before {
        @include bg($calculator-white);
      }
    }
  }
  &_otvet{
    >span{
      padding-left: 77px;
      &:before{
        margin-left: 22px;
        @include bg($otvet);
      }
    }
    &:hover{
      >span{
        &:before {
          @include bg($otvet-white);
        }
      }
    }
  }
}

.panel-group .panel {
  border-radius: 0;
}

.panel-default{
  border: none;
  & > {
    .panel{
      &-heading {
        border: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.panel-group .panel + .panel {
  margin-top: 24px;
}
.panel{
  &-body{
    padding: 32px 46px;
  }
  &-title{
    color: #6a6a6a;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    background-color: #fff;
    border: 1px solid #cacaca !important;
    border-radius: 0;
    padding: 20px 31px;
    padding-right: 75px;
    position: relative;
    &:after{
      content: '';
      display: inline-block;
      @include bg($panel-after);
      position: absolute;
      right: 28px;
      top: 50%;
      margin-top: -10px;
    }
    &:hover{
      border-color: #cacaca !important;
    }
  }
  &.active{
    box-shadow: 0 15px 15px rgba(47, 47, 47, 0.15);
    .panel-title{
      background-color: $mainColor;
      color: #fff;
      border-color: $mainColor !important;
      &:after{
        @include bg($panel-after_active);
      }
    }
  }
}

.catalogList{
  ul{
    @include nl;
  }
  >ul{
    >li{
      display: block;
      +li{
        border-top: 1px solid #cacaca;
      }
      &.parent{
        >a{
          &:after{
            content: '';
            display: inline-block;
            position: absolute;
            right: 0;
            top: 50%;
            @include bg($panel-after);
            margin-top: -10px;
          }
        }
      }
      &.open{
        >ul{
          display: block;
        }
      }
      &.active{
        >a{
          color: $mainColor;
          &:after{
            @include bg($catalogList-after_active);
          }
        }
      }
      >a{
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        color: #6a6a6a;
        display: block;
        padding: 24px 0;
        padding-right: 27px;
        position: relative;
        &:hover{
          color: $mainColor;
        }
      }
      >ul{
        margin-bottom: 25px;
        margin-top: -7px;
        display: none;
        >li{
          display: block;
          &.active{
            >a{
              color: $mainColor;
              >span{
                border-left-color: $mainColor;
              }
            }
          }
          >a{
            font-size: 15px;
            font-weight: 400;
            line-height: normal;
            color: #4d5162;
            padding: 10px 0;
            display: block;
            >span{
              padding-left: 18px;
              border-left: 3px solid transparent;
              display: block;
            }
            &:hover{
              color: $mainColor;
            }
          }
        }
      }
    }
  }
}

.label-list{
  margin: -6px 0;
  &__item{
    display: table;
    color: #4d5162;
    font-size: 13px;
    cursor: pointer;
    margin: 0;
    padding: 6px 0;
    >*{
      display: table-cell;
      vertical-align: top;
      +*{
        padding-left: 20px;
      }
    }
  }
}



.filter-title{
  margin-bottom: 15px;
}

.filter-table{
  display: table;
  width: 100%;
  &__cell{
    display: table-cell;
    vertical-align: top;
    &:not(:last-child){
      padding-right: 20px;
    }
    +*{
      border-left: 1px solid #f0f0f0;
      padding-left: 40px;
    }
  }
}

@include text-border-bottom('block', #282528);
@include text-border-bottom('block-two', #4d5162);
@include text-border-bottom('grey', #6a6a6a);
@include text-border-bottom('blue', $mainColor);

