.item{
  background-color: white;
  border: 1px solid #cacaca;
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px;
  @include tr;
  &__features{
    font-size: 0;
    margin: 5px -12px;
    >*{
      display: inline-block;
      vertical-align: middle;
      padding: 0 12px;
      font-size: 13px;
      b{
        font-size: 16px;
      }
    }
  }
  &__img{
    height: 150px;
    line-height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    img{
      display: inline-block;
      max-height: 100%;
      max-width: 80%;
    }
  }
  &__title{
    font-size: 16px;
    line-height: 25px;
    height: 47px;
    overflow: hidden;
  }
  &__title-sub{
    color: #848484;
    font-size: 13px;
    margin-bottom: 5px;
    height: 28px;
    overflow: hidden;
  }
  &__btn{
    @include btn-clear;
    border: 1px solid #e65711;
    color: #f16823;
    font-size: 15px;
    font-weight: 700;
    height: 45px;
    width: 145px;
    max-width: 100%;
    padding: 0 15px;
    margin-top: 10px;
    &:hover{
      background-color: #e65711;
      color: #fff;
    }
  }
  &:hover{
    box-shadow: 0 15px 15px rgba(47, 47, 47, 0.15);
    border-color: transparent;
  }
}

.item-list{
  font-size: 0;
  margin: -15px;
  &__section{
    outline: none;
    display: inline-block;
    width: 33.33%;
    font-size: 14px;
    padding: 15px;
  }
}