html{
  overflow-x: hidden;
}
body, html{
  min-width: 320px;
}

@include my-media-query(max, 1590px) {
  .header__padding-left {
    //padding-left: 80px;
  }
  .header {
    &__logo {
      width: 120px;
    }
  }
}
@include my-media-query(max, 1408px) {
  .header__padding-left{
    //padding-left: 80px;
  }
  .header {
    &__logo {
      display: none;
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, xl)-1) {
  .pageTitle {
    padding: 25px 0;
    &__title {
      font-size: 30px;
    }
  }
  .calculator-btn{
    font-size: 14px;
    &> span {
      padding-left: 45px;
      padding-right: 15px;
      &:before{
        margin-left: 10px;
      }
    }
  }

  .sub-menu {
    padding: 40px 0;
  }
  .header {
    &__top{
      font-size: 13px;
      &-nav {
        margin: 0 -10px;
        li {
          a {
            padding: 0 10px;
          }
        }
      }
    }
    &__bottom{
      line-height: 90px;
      .btn-sm{
        font-size: 14px;
        padding: 11px 15px;
      }
    }
    &__phones{
      margin: 0 -15px;
      &-item {
        font-size: 16px;
        padding: 0 15px;
      }
    }
    &__table{
      &-cell{
        &_btn{
          padding-left: 10px;
        }
      }
    }
    &__bottom{
      &-line {
        margin: 0 25px;
      }
      &-nav {
        > ul {
          margin: 0 -13px;
          > li {
            > a {
              display: block;
              color: #282528;
              font-size: 15px;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, lg) - 1) {
  .contacts-list {
    &__section {
      width: 50%;
    }
  }
  #yamap{
    height: 500px;
  }

  .footer {
    &__top{
      padding-left: 0;
    }
    &__bottom{
      text-align: center;
    }
    &__logo{
      margin: 0 auto;
      text-align: left;
      margin-bottom: 20px;
    }
  }
  .pageTitle {
    &__title {
      line-height: normal;
    }
  }
  .header-after {
    padding: 15px 0;
    .breadcrumb {
      > li {
        > * {
          line-height: normal;
        }
      }
    }
  }
  .header{
    height: 55px;
    &.active{
      .header__top{
        opacity: 1;
        visibility: visible;
        &-content{
          right: 0;
        }
      }
    }
    &__top{
      position: absolute;
      top: 0;
      right: 0;
      padding-left: 55px;
      background-color: rgba(75, 75, 75, 0.68);
      height: 100vh;
      line-height: normal;
      width: 100%;
      opacity: 0;
      @include tr;
      visibility: hidden;
      &-padding{
        padding-left: 38px;
        padding-right: 20px;
        &_top{
          padding-top: 15px;
        }
      }
      &-content{
        height: 100vh;
        background-color: white;
        box-shadow: -10px 0 15px rgba(0, 0, 0, 0.15);
        width: auto;
        padding: 0;
        overflow: auto;

        position: relative;
        right: -100%;
        @include tr;
        .btn-sm{
          padding: 9px 7px;
        }
      }
      &-nav{
        margin: 0;
        li{
          display: block;
          padding: 0;
          a{
            color: #4b4b4b;
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
            padding: 10px 0;
            >span{
              border: none;
            }
          }
        }
      }
    }
    &__download{
      text-align: left;
      font-size: 14px;
      display: block;
      line-height: 75px;
    }
    &__bottom{
      display: none;
    }
  }
  .category-list {
    display: block;
    font-size: 0;
    margin: 0 -15px;
    > * {
      font-size: 14px;
      display: inline-block;
      width: 50%;
      padding: 0 15px;
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xs)) {

}

@include my-media-query(min, map_get($grid-breakpoints, sm)) {

}

@include my-media-query(min, map_get($grid-breakpoints, md)) {

}

@include my-media-query(min, map_get($grid-breakpoints, lg)) {
  .header {
    &__mobile {
      display: none;
    }
  }
  .header{
    height: 137px;
    &.scroll{
      .header__content {
        box-shadow: 0 17px 20px rgba(47, 47, 47, 0.15);
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xl)) {
  .header {
    height: 153px;
  }
}

@include my-media-query(max, map_get($grid-breakpoints, md) - 1) {
  #yamap{
    height: 400px;
  }
  .pageTitle {
    padding: 15px 0;
    &__title {
      font-size: 25px;
    }
  }
  hr {
    margin: 35px 0;
  }
  .form-control {
    font-size: 15px;
    padding: 12px 15px;
  }
  .btn-input{
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .footer {
    &__table{
      display: block;
      font-size: 0;
      text-align: center;
      width: 100%;
      margin: -20px 0;
      &-cell{
        display: inline-block;
        width: 50%;
        padding: 20px 0;
      }
    }
    &__iconBlock{
      margin: 0 auto;
      &_addres{
        >*{
          +*{
            padding-left: 25px;
          }
        }
      }
      &_phone{

        >*{
          +*{
            padding-left: 20px;
          }
        }
      }
    }
  }


}

@include my-media-query(max, map_get($grid-breakpoints, sm) - 1) {
  .pageTitle {
    padding: 15px 0;
    &__title {
      font-size: 22px;
    }
  }
  .category-list {
    > * {
      width: 100%;
    }
  }
  .block-blue, .block-tabs {
    padding: 35px 0;
  }

  .callback__title{
    &-big {
      font-size: 32px;
    }
    &-small {
      font-size: 15px;
    }
  }
  .footer {
    &__table{
      margin: -10px 0;
      &-cell{
        width: 100%;
        padding: 10px 0;
      }
    }
    &__iconBlock{
      margin: 0;
      &-icon{
        width: 50px;
      }
      &-title{
        padding-left: 10px;
      }
    }
    &__logo{
      display: block;
      text-align: center;
      >*{
        display: block;
        +*{
          padding-left: 0;
          padding-top: 10px;
        }
      }
    }
    &__bottom{
      padding-bottom: 0;
    }
    .copyright{
      background: #f9f9f9;
      margin: 0 -15px;
      display: block;
      padding: 23px 15px;
    }
  }

}
