html{
  overflow-x: hidden;
}
body, html{
  min-width: 320px;
}

@include my-media-query(max, 1590px) {
  .header__padding-left {
    //padding-left: 80px;
  }
  .header {
    &__logo {
      width: 120px;
    }
  }
}
@include my-media-query(max, 1408px) {
  .header__padding-left{
    //padding-left: 80px;
  }
  .header {
    &__logo {
      display: none;
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, xl)-1) {
  .sub-menu {
    padding: 40px 0;
  }
  .header {
    &__top{
      font-size: 13px;
      &-nav {
        margin: 0 -10px;
        li {
          a {
            padding: 0 10px;
          }
        }
      }
    }
    &__bottom{
      line-height: 90px;
      .btn-sm{
        font-size: 14px;
        padding: 11px 15px;
      }
    }
    &__phones{
      margin: 0 -15px;
      &-item {
        font-size: 16px;
        padding: 0 15px;
      }
    }
    &__table{
      &-cell{
        &_btn{
          padding-left: 10px;
        }
      }
    }
    &__bottom{
      &-line {
        margin: 0 25px;
      }
      &-nav {
        > ul {
          margin: 0 -13px;
          > li {
            > a {
              display: block;
              color: #282528;
              font-size: 15px;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, lg) - 1) {
  .footer {
    &__top{
      padding-left: 0;
    }
    &__bottom{
      text-align: center;
    }
    &__logo{
      margin: 0 auto;
      text-align: left;
      margin-bottom: 20px;
    }
  }
  .header{
    min-width: 1110px;
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xs)) {

}

@include my-media-query(min, map_get($grid-breakpoints, sm)) {

}

@include my-media-query(min, map_get($grid-breakpoints, md)) {

}

@include my-media-query(min, map_get($grid-breakpoints, lg)) {
  .header{
    height: 137px;
    &.scroll{
      .header__content {
        box-shadow: 0 17px 20px rgba(47, 47, 47, 0.15);
      }
    }
    .header__content{
      //position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: white;
    }
  }

}

@include my-media-query(min, map_get($grid-breakpoints, xl)) {
  .header {
    height: 153px;
  }
}

@include my-media-query(max, map_get($grid-breakpoints, md) - 1) {
  .footer {
    &__table{
      display: block;
      font-size: 0;
      text-align: center;
      width: 100%;
      margin: -20px 0;
      &-cell{
        display: inline-block;
        width: 50%;
        padding: 20px 0;
      }
    }
    &__iconBlock{
      margin: 0 auto;
      &_addres{
        >*{
          +*{
            padding-left: 25px;
          }
        }
      }
      &_phone{

        >*{
          +*{
            padding-left: 20px;
          }
        }
      }
    }
  }


}

@include my-media-query(max, map_get($grid-breakpoints, sm) - 1) {
  .footer {
    &__table{
      margin: -10px 0;
      &-cell{
        width: 100%;
        padding: 10px 0;
      }
    }
    &__iconBlock{
      margin: 0;
      &-icon{
        width: 50px;
      }
      &-title{
        padding-left: 10px;
      }
    }
    &__logo{
      display: block;
      text-align: center;
      >*{
        display: block;
        +*{
          padding-left: 0;
          padding-top: 10px;
        }
      }
    }
    &__bottom{
      padding-bottom: 0;
    }
    .copyright{
      background: #f9f9f9;
      margin: 0 -15px;
      display: block;
      padding: 23px 15px;
    }
  }

}
